[submodule "themes/kross"]
	path = themes/kross
	url = https://github.com/themefisher/kross-hugo-portfolio-template.git
	
[submodule "hugo-coder"]
	path = hugo-coder
	url = https://github.com/luizdepra/hugo-coder
